 p{
        width: 90%;
        margin: 0 5%;
        text-align: center;
    }

    h1 .P2{
        text-align: center;
        margin: 0 auto;
        display: block;
    }
    ul{
        width: 96vw;
        margin:0 2vw;
        text-align: center;
    }
    li{
        margin-bottom: 40px;
    }
    
    span.Bullet_20_Symbols{
    
        font-size:25px;
        margin-right:20px;
    
    }
    
    .T40{
        font-size:2rem;
    }